{% extends 'base.html' %}

{% block title %}
Paganmap - сторінка 404
{% endblock %}

{% block body %}
{{ super() }}
    <div class="container">
        <form action="/login" method="post">
            <h1>Авторизація</h1>
            <p><label class="form-label">Логін:</label>
                <input type="text" class="form-control" name="username" value="" required />
            </p>
            <p><label class="form-label">Пароль:</label>
                <input type="password" class="form-control" name="password" value="" required />
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="Вхід">
            </p>
        </form>
    </div>
{% endblock %}