<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body -%}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            {%- block mainmenu -%}
            <ul class="nav nav-pills">
                {% for m in admin_menu -%}
              <li class="nav-item"><a href="{{m.url}}" class="nav-link">{{m.name}}</a></li>
                {% endfor -%}
            </ul>
            {% endblock mainmenu -%}
        </div>
    </nav>

    {% endblock -%}

</body>
</html>