{% extends 'admin/base.html' %}

{% block title %}
Paganmap - Register
{% endblock %}

{% block body %}
<style>body {
	margin: 0;
	padding: 0;
	background-color: #c9c9c9;
	height: 100vh;
  }</style>
<div id="register">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="{{ url_for('admin.register') }}" method="post">
                        <h3 class="text-center text-info">Реєстрація</h3>
                        {{ form.hidden_tag() }}
                        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                        <div class="form-group">
                            {% if field.errors %}
                            {{ field(class="form-control invalid")}}
                            <span class="invalid_feedback">
                                {% for e in field.errors %}
                                {{ e }}
                                {% endfor %}
                            </span>
                            {% else %}
                            {{ field(placeholder=field.description, class="form-control") }}
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.submit(class="btn btn-info btn-md") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
